/* | Font | */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* | Root | */
:root {
    --zwart: #1b1b1b;
    --wit: #ffffff;
    --donker-grijs: #343434;
    --grijs: #5d5d5d;
    --dim-gray: DimGrey;
    --blauw: #8cb4ff;
    --donker-blauw: #182631;

    --background-color: var(--wit);
    --text-color: var(--wit);
    --dark-grey-color: var(--donker-grijs);
    --light-grey-color: var(--grijs);
    --blue-color: var(--blauw);
    --dark-blue-color: var(--donker-blauw);

    /*Page-Transition*/
    --prm-page-transition-color: var(--blauw);
    --sec-page-transition-color: var(--dim-gray);

    /*Skeleton-Loader*/
    --skeleton-color-light:  hsl(200, 20%, 70%);
    --skeleton-color-dark:  hsl(200, 20%, 95%);
}

/* | Global Reset | */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
}

/* | Header | */
/* || Navigation || */
/*Nav*/
nav ul {
    list-style-type: none;
    display: flex;
    gap: 0.2rem;
    background-color: white;
    border-radius: 16px;
    padding: 0.5rem;
}

nav ul a {
    display: inline-flex;
    appearance: none;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: 12px;
    font-weight: 600;
    transition-property: color;
    transition-duration: 200ms;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    z-index: 2;
    color: var(--blauw);
    will-change: color;
    text-decoration: inherit;
}

nav ul a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    transform: translateY(50%) scaleY(0);
    background-color: var(--blauw);
    transition: transform 150ms ease-out;
    z-index: -1;
}

nav ul a:hover {
    color: white;
}

nav ul a:hover::after {
    transform: translateY(50%) scaleY(2.25);
}

/* | Main | */
/* || index.html || */

/* || about.html || */

/* || skeleton.html || */
.skeleton {
    opacity: 0.7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.125rem;
}

.skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
}

@keyframes skeleton-loading {
    0% {
        background-color: var(--skeleton-color-light);
    }

    100% {
        background-color: var(--skeleton-color-dark);
    }
}

img {
    width: 50px;
    height: 50px;
    opacity: 1;
}

/* Default styling */
.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
}

.card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 16px;
    border-radius: 4px;
}

.header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.header-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 1rem;
    flex-shrink: 0;
}

.title {
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: capitalize;
    /*word-wrap: none;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}

/* || vue.html || */

/* || Page Transition || */
.page-transition-container {
    position: fixed;
    inset: 0;
    z-index: 10000;
}

.no-js .page-transition-container {
    display: none;
}

.page-transition-container.done {
    pointer-events: none;
}

.page-transition {
    position: absolute;
    inset: 0;
    z-index: 10000;
}

.page-transition.first {
    z-index: 10001;
}

.page-transition:first-child {
    background-color: var(--prm-page-transition-color);
}

.page-transition:last-child {
    background-color: var(--sec-page-transition-color);
}